#hangman-body {
  background-image:url('paperbackground.jpg');
  font-family: 'Gloria Hallelujah', Verdana, cursive;
  margin: 0 auto;
  max-width: 660px;
  min-height: 500px;
  border-radius: 5px;
  text-align: center;
}
#wrapper {
  display: flex;
  justify-content: space-between;
}
#messagediv, #hintdiv {
  min-height: 80px;
}
#hintdiv {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
  text-align: center;
}
#picdiv {
  min-height: 310px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
#hangman-body form {
  display: inline;
}

